# Environment variables
.env*
!.env*.example

# Log files
logs/
*.log*

# Build artifacts
build/
dist/

# Cache artifacts
.cache/

# Moon artifacts
.moon/cache/
.moon/docker/

# Node dependencies
node_modules/

# OS files
.DS_Store
